.container {
  padding: 20px;
}
.grid {
  display: table;
  border: 1px solid #aaa;
}
.header {
  border-bottom: 1px solid #aaa;
  background-color: #ccc;
  display: table-row;
}
.agmt {
  display: table-row;
}
[class^="agmt-"] {
  display: table-cell;
  padding: 10px;
}
.agmt-selected {
  width: 20px;
}
.agmt-name {
  width: 150px;
}
.agmt-desc {
  width: 250px;
}
.loading {
  height: 30px;
  width: 30px;
  display: inline-block;
}