h2(*ngIf='newagreement') New Agreement
h2(*ngIf='!newagreement') Edit Agreement
md-dialog-content
  md-input-container.width-100
    input(md-input,placeholder='Name',[(ngModel)]='agmt.name')

  md-input-container.width-100
    input(md-input,placeholder='Description',[(ngModel)]='agmt.description')
    
md-dialog-actions
  div.btn-container
    button.btn-cancel(id='btnCancel',md-mini-fab,(click)='btnCancel_Click()')
      md-icon clear
    button.btn-ok(id='btnOK',md-fab,(click)='btnOK_Click()')
      md-icon done