h2(*ngIf='newuser') New User
h2(*ngIf='!newuser') Edit User
md-dialog-content
  table(cellpadding=0,cellspacing=0,border=0)
    tr
      td
        md-input-container
          input(md-input,placeholder='First name',[(ngModel)]='user.firstName')
      td
        md-input-container
          input(md-input,placeholder='Last name',[(ngModel)]='user.lastName')
    tr
      td(colspan=2)
        md-input-container(style='width: 100%')
          input(md-input,placeholder='Email',[(ngModel)]='user.email')
    tr
      td
        md-input-container
          input(md-input,placeholder='Teacher ID',[(ngModel)]='user.tchrId')
      td &nbsp;
md-dialog-actions
  div.btn-container
    button.btn-cancel(id='btnCancel',md-mini-fab,(click)='btnCancel_Click()')
      md-icon clear
    button.btn-ok(id='btnOK',md-fab,(click)='btnOK_Click()')
      md-icon done